
/* //////head/////// */


header{
  text-align: center;
  margin: auto;
}

h1 {
font-family: 'Aclonica';
font-size: 40px;
padding-top: 50px;
padding-bottom: 40px;
}

h2 {
  font-size: x-large;
}

h4 {
text-align: center;
}
        /* body */

img {
  padding-bottom: 20px;
  margin-top: 20px;
}

figcaption{
  text-align: center;
  color: rgb(65, 65, 65);
  font-size: 12px;
  padding: 5px;
}

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
}

.articlebox .boxarticle {
  padding: 10px; 
}

.boxarticle {
  font-size: large;
  line-height: 32px;
}

section {
  margin: 50px 0px 50px 0px;
}

#box1 {
  text-align: center;
}


section {
      margin: auto;
      border-radius: 6px;
      margin-bottom: 30px;
      width: 700px;
      background-color: rgb(255, 255, 255);
      padding: 30px;
      box-shadow: lightgray 10px 10px;
      -moz-box-shadow:    3px 3px 5px 6px #ccc;
      -webkit-box-shadow: 3px 3px 5px 6px #ccc;
      box-shadow:         3px 3px 5px 6px #ccc;
}


/* ///////////this is for the link on Responce 3//////// */

.middle {
text-align: center;
}

.link {
text-align: center;
}

a {
color: black;
}

/* ////////footer//////// */

footer{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

footer a{
  padding: 0 4rem;
}

footer a:hover {
  background-color: rgb(211, 211, 211);
}


